<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<false/>
	<key>WKWatchOnly</key>
	<false/>
	<key>apple-id</key>
	<string>austinyu0607@gmail.com</string>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>991283954</integer>
	<key>artistName</key>
	<string>TheDayBefore, Inc.</string>
	<key>bundleDisplayName</key>
	<string>THE COUPLE</string>
	<key>bundleShortVersionString</key>
	<string>3.3.27</string>
	<key>bundleVersion</key>
	<string>496</string>
	<key>copyright</key>
	<string>© 2017 TheDayBefore, Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Lifestyle</string>
	<key>genreId</key>
	<integer>6012</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>1116889464</integer>
	<key>itemName</key>
	<string>THE COUPLE (Days in Love)</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>TheDayBefore, Inc.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.GAMBLING_CONTESTS and Advisory.NO.TRUE_GAMBLING</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2016-07-19T03:45:34Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<true/>
	<key>s</key>
	<integer>143470</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple112/v4/d7/7f/a1/d77fa157-c0ed-0874-3e3a-5b160f21a3a5/AppIcon-0-0-1x_U007emarketing-0-7-0-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.ibillstudio.thedaycouple.ios</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>853349704</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>817514753</integer>
		<integer>818482855</integer>
		<integer>818574221</integer>
		<integer>818683398</integer>
		<integer>818701719</integer>
		<integer>818822567</integer>
		<integer>818864519</integer>
		<integer>818931988</integer>
		<integer>819146371</integer>
		<integer>819163490</integer>
		<integer>820020123</integer>
		<integer>820229195</integer>
		<integer>820782555</integer>
		<integer>820890856</integer>
		<integer>821218420</integer>
		<integer>821360936</integer>
		<integer>822106112</integer>
		<integer>823395368</integer>
		<integer>823432823</integer>
		<integer>823504622</integer>
		<integer>824025470</integer>
		<integer>824085510</integer>
		<integer>824270224</integer>
		<integer>825097004</integer>
		<integer>825323181</integer>
		<integer>825511987</integer>
		<integer>826142417</integer>
		<integer>826259220</integer>
		<integer>826316173</integer>
		<integer>826428365</integer>
		<integer>827071232</integer>
		<integer>827413355</integer>
		<integer>827467769</integer>
		<integer>827690556</integer>
		<integer>828254596</integer>
		<integer>828514921</integer>
		<integer>828633404</integer>
		<integer>829108040</integer>
		<integer>829642700</integer>
		<integer>829673887</integer>
		<integer>829682930</integer>
		<integer>829709335</integer>
		<integer>829718300</integer>
		<integer>829739726</integer>
		<integer>829752691</integer>
		<integer>829785413</integer>
		<integer>829841301</integer>
		<integer>829914823</integer>
		<integer>829955213</integer>
		<integer>830051890</integer>
		<integer>830108440</integer>
		<integer>830124321</integer>
		<integer>830177723</integer>
		<integer>830182609</integer>
		<integer>830285412</integer>
		<integer>830344482</integer>
		<integer>830987449</integer>
		<integer>831037971</integer>
		<integer>831154250</integer>
		<integer>831217062</integer>
		<integer>831395497</integer>
		<integer>831514698</integer>
		<integer>831704148</integer>
		<integer>832899291</integer>
		<integer>833205852</integer>
		<integer>833425667</integer>
		<integer>833650498</integer>
		<integer>834055277</integer>
		<integer>834453615</integer>
		<integer>834545444</integer>
		<integer>835141350</integer>
		<integer>835448994</integer>
		<integer>835662031</integer>
		<integer>835677838</integer>
		<integer>835693248</integer>
		<integer>835723821</integer>
		<integer>835853622</integer>
		<integer>835914339</integer>
		<integer>836105573</integer>
		<integer>836267887</integer>
		<integer>836411531</integer>
		<integer>836521756</integer>
		<integer>836619785</integer>
		<integer>836961738</integer>
		<integer>837235873</integer>
		<integer>837500791</integer>
		<integer>837846009</integer>
		<integer>837896977</integer>
		<integer>837953581</integer>
		<integer>838003331</integer>
		<integer>838120812</integer>
		<integer>838257235</integer>
		<integer>838323907</integer>
		<integer>838429500</integer>
		<integer>839323302</integer>
		<integer>839424159</integer>
		<integer>839533982</integer>
		<integer>839636750</integer>
		<integer>839697017</integer>
		<integer>839787645</integer>
		<integer>840344831</integer>
		<integer>840575474</integer>
		<integer>840609663</integer>
		<integer>840738211</integer>
		<integer>840812125</integer>
		<integer>841314798</integer>
		<integer>841799483</integer>
		<integer>841928911</integer>
		<integer>841976986</integer>
		<integer>842016410</integer>
		<integer>842057317</integer>
		<integer>842173908</integer>
		<integer>842302974</integer>
		<integer>842417141</integer>
		<integer>842492817</integer>
		<integer>842511710</integer>
		<integer>842566694</integer>
		<integer>842747143</integer>
		<integer>842844979</integer>
		<integer>842920011</integer>
		<integer>843303897</integer>
		<integer>843422616</integer>
		<integer>843640152</integer>
		<integer>843769658</integer>
		<integer>843913998</integer>
		<integer>844291909</integer>
		<integer>844439203</integer>
		<integer>844479754</integer>
		<integer>844647958</integer>
		<integer>844905844</integer>
		<integer>845063872</integer>
		<integer>845410924</integer>
		<integer>845990839</integer>
		<integer>846362471</integer>
		<integer>846451171</integer>
		<integer>846671764</integer>
		<integer>846811505</integer>
		<integer>846987511</integer>
		<integer>847057904</integer>
		<integer>847858734</integer>
		<integer>847988214</integer>
		<integer>848285264</integer>
		<integer>849955933</integer>
		<integer>850550201</integer>
		<integer>851611069</integer>
		<integer>851664670</integer>
		<integer>851701868</integer>
		<integer>851740398</integer>
		<integer>851771390</integer>
		<integer>851921550</integer>
		<integer>852076500</integer>
		<integer>852166220</integer>
		<integer>852191466</integer>
		<integer>852213017</integer>
		<integer>852311211</integer>
		<integer>852424992</integer>
		<integer>852503440</integer>
		<integer>852740742</integer>
		<integer>853027059</integer>
		<integer>853138188</integer>
		<integer>853349704</integer>
	</array>
	<key>userName</key>
	<string>austinyu0607@gmail.com</string>
	<key>vendorId</key>
	<integer>117774214</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
